.ga-table button {
    background-color: blue;
    white-space: nowrap;
    padding: 0px 5px;
}
.ga-display-table{
    height: 465px;
}

.ga-table tr td{
    white-space: nowrap;
}

.ga-table sup{
    padding: 0;
}